body {
  background-color: #e5e7eb;
    font-family: Arial, sans-serif;
}
h1 {
  color: #000000;
  text-align: center;
}
h2 {
  color: #000000;
  font-size: 24px;
}
p { 
font-size: 18px;
text-align: center;
}
ul {
  list-style: square;
  padding: 20px;
  margin: 20px;
  font-size: 16px;
}
.sobre-mim,
.tecnologias-que-estudo{
  background-color: #949090;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 4px 8px 10px #5a5a5a;
  width: 70%;
  transition: box-shadow 0.5s;
}
  .sobre-mim:hover,
  .tecnologias-que-estudo:hover{
    box-shadow: 6px 12px 18px #5a5a5a;
    transform: translateY(-5px);
  }
  
  
