body {
  background-color: #ffffffe0;
    font-family: Arial, sans-serif;
}
h1 {
  color: #000000;
  text-align: center;
}
h2 {
  color: #ff086b;
  font-size: 24px;
}
p { 
font-size: 18px;
text-align: center;
}
ul {
  list-style: square;
  padding: 20px;
  margin: 20px;
  font-size: 16px;
}
.sobre-mim{
  background-color: 
